.container {
    display: grid;
    place-content: center;
}

.chart {
    margin: 100px auto;
    text-align: center;
    border: 4px dotted;
}

.col {
    display: inline-block;
    border: 1px dotted;
    overflow: hidden;
}

.col div {
    height: 25px;
    width: 100px;
    margin: 5px;
}

.hit {
    background: #c4dac4;
    font-weight: bold;
    border: 2px solid green;
}

.sl {
    background: #f3a9a9;
    font-weight: bold;
    border: 2px solid red;
}

.pl {
    padding: 0;
    font-size: 18px;
}

input {
    padding: 0;
    padding-left: 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
}

.total {
    font-size: 22px;
    border-bottom: 1px dashed;
    padding: 5px;
    font-weight: bold;
    background: darkgoldenrod;
}

.contact {
    font-size: 22px;
    padding: 5px;
    font-weight: bold;
    background: lightsteelblue;
}